@model PropietarioModel

@{
    ViewBag.Title = "Detalle Propietario";
}
<h2>@ViewBag.Title</h2>
@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-danger">
        @TempData["Mensaje"]
    </div>
}
@if (User.IsInRole("administrador"))
{
    <button type="button" class="btn btn-danger btn-sm" onclick="Sweet('/Propietario/Eliminar?id=', @Model.Id_propietario)">
        Eliminar
    </button>
}

<a href="@Url.Action("NuevoEditar", "Propietario", new { id = Model.Id_propietario })">
    <button class="btn btn-warning btn-sm rounded">Editar</button>
</a>

<table class="table table-bordered table-striped table-hover bg-white text-dark rounded mt-3">
    <thead class="table-dark rounded-top">
        <tr>
            <th>Identificador</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Mail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="Id">@Model.Id_propietario</td>
            <td>@Model.Dni</td>
            <td>@Model.Nombre</td>
            <td>@Model.Apellido</td>
            <td>@Model.Telefono</td>
            <td>@Model.Mail</td>
        </tr>
    </tbody>
</table>


<button id="ListarInmuebles" class="btn btn-primary">Listar inmuebles</button>
<div class="modal fade" id="modalInmuebles" tabindex="-1" aria-labelledby="modalInmueblesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalInmueblesLabel">Inmuebles del propietario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="modal-body-inmuebles">
            </div>
        </div>
    </div>
</div>


<script>
    $('#ListarInmuebles').click(function () {
        $.ajax({
            url: `/Inmueble/InmueblesxPropietario?id=${$('#Id').html()}`,
            method: 'GET',
            success: function (data) {
                let html = "<ul class='list-group'>";
                for (const i of data) {
                    html += `<li class='list-group-item'>
                        <strong>${i.tipo}</strong> - ${i.direccion} ($${i.monto})
                    </li>`;
                }
                html += "</ul>";
                $('#modal-body-inmuebles').html(html);
                let modal = new bootstrap.Modal(document.getElementById('modalInmuebles'));
                modal.show();
            },
            error: function () {
                $('#modal-body-inmuebles').html("<p class='text-danger'>Error al obtener los inmuebles.</p>");
                let modal = new bootstrap.Modal(document.getElementById('modalInmuebles'));
                modal.show();
            }
        });
    });
</script>
