@model InmuebleModel

@{
    ViewBag.Title = "Detalle Inmueble";
}

<div class="container mt-5">

    <h2 class="mb-4 text-center">@ViewBag.Title</h2>

    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["Mensaje"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="d-flex justify-content-center gap-2 mb-3">
        @if (User.IsInRole("administrador"))
        {
            <button type="button" class="btn btn-danger btn-sm"
                onclick="Sweet('/Inmueble/Eliminar?id=', @Model.Id_inmueble)">
                Eliminar
            </button>
        }

        <a href="@Url.Action("NuevoEditar", "Inmueble", new { id = Model.Id_inmueble })"
            class="btn btn-warning btn-sm rounded shadow-sm">
            Editar
        </a>
    </div>

    @if (Model.Imagen!=null)
    {
        <div class="text-center mb-4">
            <img src="@Model.Imagen" alt="Imagen del inmueble" class="img-fluid rounded shadow-sm border border-2"
                style="max-height: 300px;" />
        </div>
    }


    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover bg-white text-dark rounded">
            <thead class="table-dark rounded-top">
                <tr>
                    <th>Identificador</th>
                    <th>Propietario</th>
                    <th>Dirección</th>
                    <th>Uso</th>
                    <th>Tipo</th>
                    <th>Ambientes</th>
                    <th>Coordenadas</th>
                    <th>Precio</th>
                    <th>Disponible</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="Id">@Model.Id_inmueble</td>
                    <td>
                        <a href="@Url.Action("Detalle", "Propietario", new { id = ViewBag.Propietario.Id_propietario })"
                            class="text-decoration-none text-primary fw-semibold">
                            @ViewBag.Propietario.Apellido @ViewBag.Propietario.Nombre
                        </a>
                    </td>
                    <td>@Model.Direccion</td>
                    <td>@Model.Uso</td>
                    <td>@Model.Tipo</td>
                    <td>@Model.Ambientes</td>
                    <td>@Model.Cordenadas</td>
                    <td>$@Model.Precio</td>
                    <td>@Model.Disponible</td>
                </tr>
            </tbody>
        </table>

        <button id="ListarContratos" class="btn btn-primary">Listar contratos</button>
        <div class="modal fade" id="modalInmuebles" tabindex="-1" aria-labelledby="modalInmueblesLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalInmueblesLabel">Contratos del inmueble</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body" id="modal-body-inmuebles">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $('#ListarContratos').click(function () {
        $.ajax({
            url: `/Contrato/ContratoXInmueble?id=${$('#Id').html()}`,
            method: 'GET',
            success: function (data) {
                let html = "<ul class='list-group'>";
                for (const i of data) {
                    html += `<li class='list-group-item'>
                    <a href="/Contrato/Detalle/${i.id_contrato}"> Inquilino:${i.inquilino.nombre + " " + i.inquilino.apellido}- inicio:${i.fecha_inicio.split("T")[0]} fin:${i.fecha_fin.split("T")[0]}</a>
                    </li>`;
                }
                html += "</ul>";
                $('#modal-body-inmuebles').html(html);
                let modal = new bootstrap.Modal(document.getElementById('modalInmuebles'));
                modal.show();
            },
            error: function () {
                $('#modal-body-inmuebles').html("<p class='text-danger'>Error al obtener los contratos.</p>");
                let modal = new bootstrap.Modal(document.getElementById('modalInmuebles'));
                modal.show();
            }
        });
    });
</script>