<h1 style="display:none;">me escuendi </h1>
@model IEnumerable<StiegerModels.InquilinoModel>

@{
    ViewBag.Title = "Lista Inquilinos";
    var mensaje = TempData["Mensaje"];
    if (mensaje != null)
    {
        <div class="alert alert-success">
            @mensaje
        </div>
    }
}

<h1>lista de inquilinos</h1>
<table class="tabla">
    <a href="@Url.Action("Nuevo", "Inquilino")">
        <button class="btn-nuevo">Nuevo</button>
    </a>
    @foreach (var i in Model)
    {

        <tr>
            <td>
                Identificador: @i.Id_inquilino
            </td>
            <td>
                Dni: @i.Dni
            </td>
            <td>
                Nombre: @i.Nombre @i.Apellido
            </td>
            <td>
                @i.Contacto
            </td>
            <td style="display: flex; -ms-flex-align: center;">
                <form action="@Url.Action("Editar","Inquilino")" method="post">
                    <input type="hidden" name="id" value="@i.Id_inquilino" />
                    <button type="submit" class="btn-editar">Editar</button>

                </form>

                <form action="@Url.Action("Eliminar", "Inquilino")" method="post">
                    <input type="hidden" name="id" value="@i.Id_inquilino" />
                    <button type="submit" class="botonEliminar">Eliminar</button>
                </form>
            </td>



        </tr>

    }
</table>