@model IEnumerable<InquilinoModel>
<table class="table table-bordered table-striped table-hover bg-white text-dark">
    <thead class="table-dark">
        <tr>
            <th>Identificador</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>
                <a href="@Url.Action("NuevoEditar", "Inquilino", new { id = 0 })">
                    <button class="btn btn-success btn-sm">Nuevo</button>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inquilino in Model)
        {
            <tr>
                <td>@inquilino.Id_inquilino</td>
                <td>@inquilino.Nombre</td>
                <td>@inquilino.Apellido</td>
                <td>
                    <form action="@Url.Action("Eliminar", "Inquilino")" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@inquilino.Id_inquilino" />
                        <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('eliminar al inquilino?')">Eliminar</button>
                    </form>

                    <a href="@Url.Action("NuevoEditar", "Inquilino", new { id = inquilino.Id_inquilino })">
                        <button class="btn btn-warning btn-sm">Editar</button>
                    </a>

                    <a href="@Url.Action("Detalle", "Inquilino", new { id = inquilino.Id_inquilino })">
                        <button class="btn btn-primary btn-sm">Detalle</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
