@model IEnumerable<ContratoDTO>

<h2>@ViewBag.Title</h2>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-danger">
        @TempData["Mensaje"]
    </div>
}

<div class="mb-4">
    <form class="row g-3 align-items-end">
        <div class="col-md-4">
            <label for="inicio" class="form-label">Fecha de inicio</label>
            <input type="date" class="form-control" id="inicio" name="inicio">
        </div>
        <div class="col-md-4">
            <label for="fin" class="form-label">Fecha de fin</label>
            <input type="date" class="form-control" id="fin" name="fin">
        </div>
        <div class="col-md-4">
            <button type="button" id="btnFiltroFechas" class="btn btn-primary w-100">Buscar</button>
        </div>
    </form>
</div>



<table class="table table-bordered table-striped table-hover bg-white text-dark">
    <thead class="table-dark">
        <tr>
            <th>Inmueble</th>
            <th>Inquilino</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>
                <a href="@Url.Action("NuevoEditar", "Contrato", new { id = 0 })">
                    <button class="btn btn-success btn-sm">Nuevo</button>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>

                <td> <a
                        href="@Url.Action("Detalle", "Inmueble", new { id = i.Inmueble.Id_inmueble })">@i.Inmueble.ToString();</a>
                </td>
                <td><a
                        href="@Url.Action("Detalle", "Inquilino", new { id = i.Inquilino.Id_inquilino })">@i.Inquilino.ToString();</a>
                </td>
                <td>@i.Fecha_inicio</td>
                <td>@i.Fecha_fin</td>
                <td style="display: flex; flex-direction: row; justify-content: space-around;">
                    <form action="@Url.Action("Eliminar", "Contrato")" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@i.Id_contrato" />
                        <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('eliminar al contrato?')">Eliminar</button>
                    </form>

                    <a href="@Url.Action("NuevoEditar", "Contrato", new { id = i.Id_contrato })">
                        <button class="btn btn-warning btn-sm">Renovar</button>
                    </a>

                    <div>
                        <a href="@Url.Action("Detalle", "Contrato", new { id = i.Id_contrato })">
                            <button class="btn btn-primary btn-sm">Detalle</button>
                        </a>
                    </div>

                    @if (User.IsInRole("administrador"))
                    {
                        <a href="@Url.Action("Cancelar", "Contrato", new { id = i.Id_contrato })">
                            <button class="btn btn-outline-danger btn-sm">Cancelar</button>
                        </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $('#btnFiltroFechas').on('click', function () {
        const inicio = $('#inicio').val();
        const fin = $('#fin').val();
        const maxValue = '9999-12-31';
        const minValue = '0001-01-01';

        if (inicio && fin) {
            window.location.href = `/Contrato/BuscarVigenteXFechas?inicio=${inicio}&fin=${fin}&pagina=1`;
        } else if (inicio) {
            window.location.href = `/Contrato/BuscarVigenteXFechas?inicio=${inicio}&fin=${maxValue}&pagina=1`;
        } else if (fin) {
            window.location.href = `/Contrato/BuscarVigenteXFechas?inicio=${minValue}&fin=${fin}&pagina=1`;
        } else {
            alert("Debes ingresar al menos una fecha.");
        }
    });
</script>


@{
    string accion = ViewBag.Accion ?? "Indice";
    string inicio = ViewBag.Inicio;
    string fin = ViewBag.Fin;
}
<nav aria-label="Paginación">
    <ul class="pagination justify-content-center mt-4">

        @{
            string anteriorParams = $"pagina={ViewBag.PaginaActual - 1}";
            if (accion == "BuscarVigenteXFechas")
                anteriorParams = $"inicio={inicio}&fin={fin}&{anteriorParams}";
        }
        <li class="page-item @(ViewBag.PaginaActual == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action(accion)@($"?{anteriorParams}")" tabindex="-1">Anterior</a>
        </li>

        @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
        {
            string pageParams = $"pagina={i}";
            if (accion == "BuscarVigenteXFechas")
                pageParams = $"inicio={inicio}&fin={fin}&{pageParams}";

            <li class="page-item @(i == ViewBag.PaginaActual ? "active" : "")">
                <a class="page-link" href="@Url.Action(accion)@($"?{pageParams}")">@i</a>
            </li>
        }

        @{
            string siguienteParams = $"pagina={ViewBag.PaginaActual + 1}";
            if (accion == "BuscarVigenteXFechas")
                siguienteParams = $"inicio={inicio}&fin={fin}&{siguienteParams}";
        }
        <li class="page-item @(ViewBag.PaginaActual == ViewBag.TotalPaginas ? "disabled" : "")">
            <a class="page-link" href="@Url.Action(accion)@($"?{siguienteParams}")">Siguiente</a>
        </li>

    </ul>
</nav>